* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 400px;

    background-color: #aaa;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #333;
}

.screen {
    max-width: 500px;
    height: 100px;

    border: 2px solid #333;
    border-radius: 5px;

    background-color: #fff;

    padding: 0 20px;
    font-size: 40px;

    display: flex;
    align-items: center;
}

.buttons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons .clear {
    background-color: #faa;
}

.buttons .clear:hover {
    background-color: #e99;
}

.buttons .delete {
    background-color: #aaf;
}

.buttons .delete:hover {
    background-color: #99e;
}

.buttons .clear,
.buttons .delete {
    flex: 1 0 calc(50% - 10px);
    text-transform: uppercase;
}

.buttons > * {
    cursor: pointer;
    flex: 1 0 calc(25% - 10px);
    border: 2px solid #333;
    font-size: 24px;
    height: 75px;
    background-color: #eee;
    border-radius: 5px;
}

.buttons > *:hover {
    background-color: #ddd;
}
